{% extends "mundialistas/base.html" %}

{% block contenido %}
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">

                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if post_header %}
                    <a href="#!"><img class="card-img-top" src="{{post_header.imagen.url}}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{post_header.publicado_el}}</div>
                        <h2 class="card-title">{{post_header.titulo}}</h2>
                        <p class="card-text">{{post_header.sub_titulo}}</p>
                        <a class="btn btn-primary" href="{% url 'mundialistas-detalle' post_header.id %}">Leer Mas →</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Nested row for non-featured blog posts-->

                <div class="row">
                {% for post in posts %}

                <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top" src="{{post.imagen.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{post.publicado_el}}</div>
                                <h2 class="card-title">{{post.titulo}}</h2>
                                <p class="card-text">{{post.sub_titulo}}</p>
                                <a class="btn btn-primary" href="{% url 'mundialistas-detalle' post.id %}">Leer Mas →</a>
                            </div>
                        </div>
                </div>
                {% endfor %}
                </div>
            </div>


        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}